body {
  margin : 0px;
  color: #464646;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #FFE4E1;
  
  display: block;
}

.toptitle h1 {
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: normal;
}

.topinfo {
  width: 400px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-bottom: 30px;
}

.topinfo img {
  border-radius: 50%;
  border-style: solid;
  border-color: #fff;
  margin-left: 30px;
}

.topinfo p{
  display: block;
  margin-left: 30px;
}

.container {
  width: 400px;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
}

.content {
  width: auto;
  padding-right:85px;
}

.title {
  display: flex;
  border-bottom: solid 0.8px;
  padding-bottom: 15px;
}

.title h2 {
  margin-right: 20px;
}
.title inner {
  display: inline-block;
}

.title img {
  width: 100px;
  height: 87px;
  object-fit: cover;
}

.content li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 13px;
  color: #975656;
}

.content ul{
  padding-left: 0px;
}


footer {
  background-color: #FFE4E1;
  display: block;
  height: 80px;
  margin-top: 0px;
}

footer p {
  text-align: center;
  margin-bottom: 0px;
  padding-top: 10px;

}
